# Azure Configuration (required for deployment)
AZURE_TENANT_ID=
AZURE_SUBSCRIPTION_ID=
AZURE_EXISTING_AIPROJECT_ENDPOINT=
AZURE_EXISTING_AIPROJECT_RESOURCE_ID=
AZURE_CLIENT_ID=

# Local Development
RUNNING_IN_PRODUCTION=false

# Application
LOG_LEVEL=INFO
